*{
    margin:0;
    padding:0;
font-family:Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;

}
header{
    display:flex;
    height:60px;
    background-color:#FFFFFF ;
    justify-content: space-between;
    align-items: center;
    
}
#logo{
    height:5rem;
    width:5rem;
    border-radius: 50%;
    margin-left: 50%;
    
}
.nav-bar{
    justify-content: space-between;
    display:flex;
    gap:100px;
    display: flex; 
    color:black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

   
    
}
.head-logo{
    height:50px;
    width:70px;
    margin-right:4%
   
}
.div1{
    text-transform: uppercase;
    font-weight: 700;
    margin-left:-30px;
    padding:28px 0px;
    border-bottom: 5px solid white;
    cursor: pointer;
}
.div1:hover{
    border-bottom:4px solid violet;
}
.div2{
    text-transform: uppercase;
    font-weight: 700;
    padding:28px 0px;
    border-bottom: 5px solid white;
    cursor: pointer;
}
.div2:hover{
     border-bottom:4px solid gray;
    }
    .div3{
        text-transform: uppercase;
        font-weight: 700;
        padding:28px 0px;
        border-bottom: 5px solid white;
        cursor: pointer;
    }
    .div3:hover{
        border-bottom:4px solid rgb(119, 84, 21);
    }
    .div4{
        text-transform: uppercase;
        font-weight: 700;
        padding:28px 0px;
        border-bottom: 5px solid white;
        cursor: pointer;
    }
    
    .div4:hover{
        border-bottom: 4px solid darkblue;
    }
    
    .div5{
        text-transform: uppercase;
        font-weight: 700;
        padding:28px 0px;
        border-bottom: 5px solid white;
        cursor: pointer;
    }
    .div5:hover{
        border-bottom: 4px solid #b7730d;
    }
    .div4:hover{
        border-bottom: 4px solid #10aaf2;
    
    }
    .div6{
        text-transform: uppercase;
        font-weight: 700;
        padding:28px 0px;
        border-bottom: 5px solid white;
        cursor: pointer;
    }
    .div6:hover{
            border-bottom: 4px solid #3fdfff;
        }
    
    sup{
        color: #e53fff;
        text-transform: uppercase;
        font-weight: 900;
        font-size: 10px;
        
    }
    .div7{
        text-transform: uppercase;
        font-weight: 700;
        padding:28px 0px;
        border-bottom: 5px solid white;
        cursor: pointer;
    }
    .div7:hover{
            border-bottom: 4px solid #49ff3f;
        }
.front{
    width:100%;
    display: flex;
     margin-top: 20px;
    position: relative;
    background-size: cover;
}
.members{
    width: 80%;
    padding-top: 100px;
    text-align: center;
    margin: auto;
    color:black;
   

}
.members h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 36px;
}
.members p{
    color:cornsilk;
    font-size: 14px;
    font-weight: 300px;
    line-height: 22px;;
    padding: 10px;
}
.banner-container{
padding-top:24px ;
padding-bottom: 10px;
}
.banner-container img{
    object-fit: cover;
    align-items: center;
}
.members h2{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-weight: 400px;
padding: 10px;
}
.names-heads{
    display: flex;
    

}
.slide-fade{
    width: 100%;
    padding-top: 20px;
    
}
.members{
    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20200714/pngtree-modern-double-color-futuristic-neon-background-image_351866.jpg");
    width: 100%;
    color:white;
    font-weight: bold;
}
 .join-us{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
 .join-us h2{
    font-size: 30px;
    font-weight:300;
    padding: 10px;
    line-height: 22px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.join-us h3{
    text-align: center;
    font-weight: 600;
    margin:10px 0;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-top:5%;
    font-weight: 400;
    justify-content: space-between;

}
.why-join{
    flex-basis:31%;
   background: cornsilk;
   border-radius: 20px;
   margin-bottom: 7%;
   padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}
.why-join:hover{
box-shadow:0 0 20px  0px   rgba(0,0,0,0.2);
}
.join-a{
    background-color:green;
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding:10px;
    margin-top: 4%;
    border-radius: 6%;
    display: inline;
}
.join-a a{
    text-decoration: none;
    color:white;
}
.join-men{
    text-align: center;
    align-items: center;

}
.join-club{
    text-align: center;
    align-items: center;
    font-weight: 350;
    margin-bottom: 7%;
    width: 80%;
    margin: auto;
    padding-top: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
    background:rgb(229, 255, 220);
    border-radius: 4%;
    flex-basis:100%;
    padding:10px 10px;

}
.sfirst{
    padding-bottom: 30px;
    padding-top: 10px;
}
.event-page{
    text-align: center;
    align-items: center;
    padding-top: 30px;
    
}
caption h4{
    color:red;
}
.event-table {
    align-items: center;
    text-align: center;
    margin:auto;
    border-color: black;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   border-collapse: collapse;
   width: 100%;
   border: 2px solid  purple;
}
 table th,td{
    border: 3px solid purple;
    
}
.faq{
    padding-top: 20px;
    color:#ff3fa2f2;
    font-size: larger;
    text-align: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    background: linear-gradient(90deg, #ffffff, #ff00ff, #ffffff);
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 5s linear infinite;
}
@keyframes shine {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  .question{
   width: 100%;
text-align: left;
padding-left: -30px;
padding-top: 9px;
  }
  .spons{
    border: 1px solid black;
    align-items: center;
    padding-top: 10px;
  }
  .spons1{
    padding-top: 20px;
  }
  .spons1 p{
    text-align:center;
    padding-top: 20px;
    padding-bottom: 15px;
    color:#AA336A;
    font-weight:bolder;
  }
  .about-us h3{
    text-align: center;
    padding-top: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: larger;
    
  }
  .about-us h5{
    text-align: center;
    color:#301934 ;
  }
  .journey{
    padding-left: 40px;
    padding-top: 20px;

  }
.gallery{
    padding-top: 100px;
    align-items: center;
    transform: (-50%,-50%);
    width: 700px;
    top:50%;
    width: 80%;
    margin: 20px auto;
    text-align: center;
    overflow: hidden;
    border:20px solid white;
    border-radius: 8px;
    box-shadow: 10px 25px 30px wheat;

}
.gallery p{
    font-size: 1.5rem;
    color:#301934;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 20px;
}
.png-p{
  width: 100%;  
  display: flex;
  animation: slide 10s infinite;
  align-items: center;

}
@keyframes slide  {
    0%{
        transform: translate(0);
    }
    25%{
        transform: translate(0);
    }
    30%{
        transform: translate(-100%);
    }
    50%{
        transform: translate(-100%);
    }
    55%{
        transform: translate(-200%);
    }
    75%{
        transform: translate(-200%);
    }
    80%{
        transform: translate(-300%);
    }
    100%{
        transform: translate(-300%);
    }
}
.png-p img{
    object-fit: cover;

   align-items: center;
}
.vid video {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    align-items: center;
    background-color: aliceblue;
    height: 400px;
  
}
.vid{
    background-color: aliceblue;
    display: flex;
    width: 800px;
    border: 5px solid rgba(0, 0, 0, 0.479);
    margin-left: 400px;
    margin-right: 400px;
    height: 100px;
    padding-bottom:300px;
}
.contact-us{
    width:100%;
    text-align: center;
    padding: 30 px 0 ;
    color:white;
    background-color: rgb(84, 4, 75);
}
.contact-us h3{
   margin-bottom: 25px;
   margin-top: 20px;
   font-weight:800;
   font-size: large;
   padding-top: 20px;
}
c-form{
    display: flex;
    padding: 10px 0;
    flex-direction: column;
    background-color: aquamarine;
  ;
}
input{
    margin:10px 0;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    
}
textarea{
    margin:10px 0;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
   
}
#bu{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    background-color: rgba(255, 127, 127, 0.195);
    color:rgba(255, 240, 240, 0);
    font-size: medium;
    text-decoration: none;
}
.contact{
    text-align: center;
    align-items: center;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ff3399;
    border-radius: 10px;
    background-color: white;
}

